<header class="d-flex flex-row-nowrap justify-content-center p-10">
  <div class="content flex-fill d-flex flex-row-nowrap align-items-center justify-content-between">
    <a class="header-logo" href="/">
      <img src="{{ asset('assets/img/lion.svg')}}">
    </a>
    <div>
       <a href="/contact"
      <button class="btn btn-primary mr-5">Contact</button>
      </a>
       <a href="/message"
      <button class="btn btn-primary mr-5">Messages</button>
      </a>
       <a href="/admin"
      <button class="btn btn-primary mr-5">Admin</button>
      </a>
      {# <button class="btn btn-primary mr-5">Connexion</button> #}
    </div>
  </div>
</header>