<div class="sidebar d-flex flex-column mr-50">

	<button class="btn btn-primary btn-icon-primary">
		<span>
			Etudes</span>
	</button>
	<ul class="sidebar-nav py-20">
		<li class="active">
			Études 1
		</li>
		<li>
			Études 2
		</li>
		<li>
			Études 3
		</li>
	</ul>
    	<button class="btn btn-primary btn-icon-primary">
		<span>
			Etudes</span>
	</button>
	<ul class="sidebar-nav py-20">
		<li class="active">
			Études 1
		</li>
		<li>
			Études 2
		</li>
		<li>
			Études 3
		</li>
	</ul>
</div>
